.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.landing {
  position: relative;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100vw;
}

.scrollToTop {
  top: -90px;
  left: 90vw;
  z-index: 100;
  display: flex;
  position: sticky;
}

/* .darkMode {
  background-color: black;
} */

body,
.darkMode {
  background-color: black;
}

.App.darkMode {
  /* font-family: 'Open Sans', sans-serif; */
  background-color: black;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  color: white;
}

.darkMode div {
  color: white;
}

.darkMode button {
  color: white;
}
.darkMode .project-card {
  background-color: black;
  border-color: white;
}
.darkMode .open {
  background-color: black;
}
.button-theme {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  color: white;
  background-color: #347cfb;
  margin-bottom: 10px;
  font-size: 15px;
}

button {
  border: 1px transparent;
}
