.App,
.darkMode {
  overflow-y: scroll;
  text-align: center;
  width: 100vw;
  position: relative;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollToTop {
  bottom: 90px;
  top: -90px;
  left: 97.2vw;
  z-index: 100;
  display: flex;
  position: sticky;
  align-items: center;
}

html body .darkMode {
  background-color: black;
}

.darkMode {
  font-family: "Open Sans", sans-serif;
  background-color: black;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  color: white;
}

.darkMode div {
  color: white;
}

.darkMode button {
  color: white;
}
.darkMode .project-card {
  background-color: black;
  border-color: white;
}
/* .darkMode .open {
  background-color: black;
} */
.button-theme {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  font-size: 15px;
  background-image: linear-gradient(
    145deg,
    rgb(46, 118, 112),
    rgb(55, 140, 133)
  );
}

button {
  border: 1px transparent;
}
.nav-scroll {
  width: 40px;
  border-radius: 50px;
}

.nav-scroll:hover {
  /* border-radius: 150px; */
  background: linear-gradient(145deg, #3787bc, #41a1e0);
  box-shadow: 7px 7px 14px #3480b2, -7px -7px 14px #46adf0;
}

.proj-scroll {
  position: absolute;
  margin-bottom: -30pc;
  font-size: 25px;
  transition: transform 0.3s ease-in;
}

@media (prefers-color-scheme: dark) {
  /* img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  } */
  /* img:hover {
    opacity: 1;
  } */
}

.page-title {
  font-size: 70px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.darkMode .page-title {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.hidden {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  display: none;
  transition: transform 0.9s ease-out;
}
.darkMode .proj-scroll {
  background: linear-gradient(145deg, #3787bc, #41a1e0);
  box-shadow: 7px 7px 14px #3480b2, -7px -7px 14px #46adf0;
}
