.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.sidebar-toggle-button {
  position: fixed;
  left: 3px;
  z-index: 900;
}

.toggle-button:focus {
  outline: none;
}
.toggler-line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.darkMode .toggler-line {
  background-color: white;
}

.side-drawer {
  top: 0;
  left: 0;
  gap: 30px;
  width: 20%;
  height: 100%;
  z-index: 200;
  position: fixed;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-200%);
  transition: transform 0.3s ease-out;
  /* box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); */
  /* background-image: linear-gradient(lightblue, rgba(173, 216, 230, 0)); */
}

.side-drawer .open {
  z-index: 600;
  transform: translateX(0);
}
.open {
  top: 0;
  left: 0;
  width: 28%;
  height: 100%;
  z-index: 200;
  display: flex;
  font-size: 30px;
  position: fixed;
  /* max-width: 400px; */
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.3s ease-out;
  /* box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); */
  /* background-image: linear-gradient(lightblue, rgba(173, 216, 230, 0)); */
}

@media (orientation: landscape) {
  /* .navbar {
    transform: translateX(-700%);
  } */
  .navigation-items {
    display: none;
  }
  .sidebar-toggle-button {
    display: initial;
  }
  .open .navigation-items {
    display: initial;
  }
}
