.homePage {
  height: 100vh;
  min-height: 780px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
