.toggleButton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar {
  top: 0;
  left: 0;
  gap: 5%;
  z-index: 90;
  height: 900px;
  width: 15vw;
  padding: 30px;
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: column;
  background-color: lightblue;
}

.nav-buttons {
  left: 0;
  gap: 30px;
  display: flex;
  /* margin-top: 20px; */
  padding-left: 15px;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  width: 100vw;
}

.footer-link {
  height: 90px;
}

.Voniel-Brown {
  font-size: 1.5rem;
  text-decoration: underline;
}

.fa-icon {
  font-size: 50px;
}

.linked-in {
  color: #0077b5;
}

.external-links {
  gap: 10px;
  color: black;
  display: flex;
  text-decoration: none;
}

.github {
  color: black;
}

@media screen and (max-width: 768px) {
  .navbar .navigation-items {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .side-drawer {
    display: none;
  }
  .sidebar-toggle-button {
    display: none;
  }
}

/*
@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.toggle-button:focus {
  outline: none;
}
.toggler-line {
  width: 100%;
  height: 2px;
  background-color: white;
}

.side-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer .open {
  transform: translateX(10);
}

.navigation-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
