.toggleButton {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar {
  top: 200px;
  left: 0;
  gap: 20%;
  z-index: 90;
  height: 90px;
  width: 100vw;
  padding: 30px;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
}

.navItems {
  left: 0;
  gap: 30px;
  display: flex;
  margin-top: 20px;
  padding-left: 15px;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  width: 100vw;
}

.Voniel-Brown {
  text-decoration: underline;
}
