.portfolioPage {
  height: 100vh;
  width: 100vw;
  grid-gap: 10px;
  display: flex;
  min-height: 780px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  .inner-frame {
    overflow-y: scroll;
  }

  .portfolioPage .flex {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .portfolioPage .flex {
    flex-wrap: wrap;
  }
}

.project-img {
  height: 120px;
  width: 15rem;
}

#card-title {
  margin-top: -85px;
  color: white;
  font-size: 20px;
}
