.contactPage {
  gap: 200px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.submit {
  bottom: 0;
  width: 100px;
  height: 30px;
  font-size: 20px;
  color: aliceblue;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e7670, #378c85);
}

.skills-container {
  display: flex;
  gap: 30px;
}

.skill-icon {
  height: 90px;
}

/* .darkmode .skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.postgres {
  height: 90px;
}
