.contact {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  gap: 50px;
  position: relative;
}
.contactPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.contactPage-formField {
  padding: 60px;
  border-radius: 5px;
  align-items: center;
  /* box-shadow: 0 3px 10px 2px darkslateblue; */
  display: inline;
  height: 100px;
}

input,
#message {
  width: 100%;
  height: 50px;
}

.inputField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}
button {
  height: 40px;
  width: 80px;
  border-radius: 5px;
  color: white;
  background-color: #347cfb;
  margin-bottom: 10px;
  font-size: 15px;
  position: relative;
}
.submit {
  width: 40vw;
  background-color: teal;
}

.inputBar {
  width: 576px;
  height: 30px;
  font-size: 18px;
}

.contact-input {
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid black;
  font-size: 20px;
}
